---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url("https://www.trevilon.com/images/connected.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #000;
  width: 100%;
  height: 160px;
  opacity: .5;
 }
